<div class="container-fluid">
  <div class="jumbotron" style="background-color: #fffbb9">
    <h2>In the Media</h2>
    <p>I am listing some of the events that I have participated over the years.Please visit my <a href="https://www.youtube.com/channel/UCf7GDsRKAWih4IAYCpFXoGA">Youtube
        Channel</a> for more and upto date videos</p>
  </div>
  <div class="jumbotron">
    <h4>Exhibition at State Art Gallery, Madhapur, Hyderabad - Oct 2013:</h4>
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <img src="assets/media/kala-vikshit-art-exhibition24.jpg" alt="">
      </div>
      <div class="col-md-5 col-sm-12">
        <img src="assets/media/SAM_0983.JPG" alt="">
      </div>
      <div class="col-md-5 col-sm-12">
        <img src="assets/media/SAM_0964.JPG" alt="">
      </div>
      <div class="col-md-5 col-sm-12">
        <img src="assets/media/SAM_0986.JPG" alt="">
      </div>
    </div>
    <br>
    <h4>Conducted Nail Art event at the All India Congress of Obstetricians and Gynaelogists at HiTex, Hyderabad from
      Jan 6th-8th 2011:</h4>
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <img src="assets/media/hitex-1.JPG" alt="">
      </div>
      <div class="col-md-5 col-sm-12">
        <img src="assets/media/hitex-2.jpg" alt="">
      </div>
    </div>
    <br>
    <h4>I have done following shows on Sakhi Programme of E-TV 2 on the following mediums:</h4>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <ul>
          <li>Charcoal Painting</li>
          <li>Patachitra</li>
          <li>Fabric Painting</li>
          <li>Tile Painting</li>
          <li>Knife Painting</li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-12">
        <img class="thumbnail" src="assets/media/DSC00541.JPG" alt="">
        <img class="thumbnail" src="assets/media/DSC00603.JPG" alt="">
      </div>
    </div>
    <br>
    <h4>Participated in the Hyperabad programme of Rainbow FM:</h4>
    <img src="assets/media/rainbowFM.jpg" alt="">
    <br>
    <h4>Article published in Daily Hindi Milap on 13th Nov 2016:</h4>
    <img class="article" src="assets/media/HindiMilap.jpg" alt="">
    <br>
    <h4>Article published in Pune Times on 17th Oct 2008:</h4>
    <img class="article" src="assets/media/Pune_TOI.jpg" alt="">
    <br>
  </div>
</div>
