<div class="container-fluid">
  <div class="jumbotron" style="background-color: #fffbb9;">
    <h2>About Me</h2>
    <p class="content">I have a passion for painting since my childhood days which got a breakthrough when we relocated to Pune in
      1998. I had an opportunity to pursue my hobby by joining diploma courses at India Art Gallery and learnt from
      several talented artists there. In 2004, I opted teaching as a way to share my knowledge while also taking care
      of my two young kids.</p>
  </div>
  <div class="jumbotron">
    <img src="assets\about_me.jpg" alt="" >
    <p class="content">
      I have been teaching various painting and tailoring classes for the last 12 years. I have moved to Hyderabad in
      2010 and presently, I have my studio at OU Colony, Manikonda.
      <br><br>
      I have done TV shows in ETV-2 Sakhi Programme, HMTV Avani-Akruthi Programme and also appeared as a guest on Rainbow FM. Please click here to check the <a routerLink="/media">Media</a> section
      for more details. Also participated in an exhibition at State Art Gallery, Madhapur, Hyd, along with my students.
      <br><br>
      Also worked as a judge for google doodle competition and other school level events.
      <br><br>
      I offer personalized services such as portraits and other customized paintings of any type/size.
      <br><br>
      Classes are held on all days except Wednesday. On week days, classes are conducted both in the morning as well as
      in the evening, whereas on weekends only in the morning. Weekend classes are organized mostly for the convenience
      of working people who want to pursue their hobby.
      <br><br>
      USP: Every student gets individual attention as the number of students per class is limited. Student is free to
      choose a picture of her/his choice and will be taught from basics of drawing [no tracing of the picture is
      encouraged].
      <br>
      Please come and feel the difference yourself. I have students from across India and also from outside India! You
      can read the "Testimonials" for the feedback from my former students.
    </p>
  </div>
</div>
