<div class="container-fluid">
  <div class="jumbotron" style="background-color: #fffbb9;">
    <h2>Painting & Drawing</h2>
    <p>Here is the long list of various course available. If you are not sure where to start, I can guide you based on
      your current skill level and interest. You can be rest assured to come out with flying colors from my institute
      if you have the dedication and passion for art.</p>
  </div>
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-12 col-md-6" style="padding: 5px;">
        <div class="card">
          <div class="card-body">
            <img src="assets/painting&drawing/Oil_painting.jpg" alt="">
            <h3>The Evergreen</h3>
            <ul>
              <li>Sketching</li>
              <li>Water Colours</li>
              <li>Charcoal Painting</li>
              <li>Oil Painting</li>
              <li>Acrylic Painting</li>
              <li>Portrait Painting</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6" style="padding: 5px;">
        <div class="card">
          <div class="card-body">
            <img src="assets/painting&drawing/Tanjore_Painting.jpg" alt="">
            <h3>The Traditional</h3>
            <ul>
              <li>Tanjore Painting</li>
              <li>Mysore Painting</li>
              <li>Kerala Murals</li>
              <li>3D Clay Painting</li>
              <li>Clay Sculpting</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6" style="padding: 5px;">
        <div class="card">
          <div class="card-body">
            <img src="assets/painting&drawing/Knife_painting.jpg" alt="">
            <h3>The Modern</h3>
            <ul>
              <li>Modern Art</li>
              <li>Knife Painting</li>
              <li>Coffee Painting</li>
              <li>Mix Media Painting</li>
              <li>Brushless Painting</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6" style="padding: 5px;">
        <div class="card">
          <div class="card-body">
            <img src="assets/painting&drawing/Nirmal_Painting.jpg" alt="">
            <h3>The Folk</h3>
            <ul>
              <li>Nirmal Art</li>
              <li>Warli Painting</li>
              <li>Madhubani Painting</li>
              <li>Patachitra</li>
              <li>Meenakari Painting</li>
              <li>Kalamkari Painting</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6" style="padding: 5px;">
        <div class="card">
          <div class="card-body">
            <img src="assets/painting&drawing/Ink_Drawing.jpg" alt="">
            <h3>The Miniature</h3>
            <ul>
              <li>Miniature Art</li>
              <li>Stain Wood Painting</li>
              <li>Peepal Leaf Painting</li>
              <li>Phad Painting</li>
              <li>Ink Drawing</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6" style="padding: 5px;">
        <div class="card">
          <div class="card-body">
            <img src="assets/painting&drawing/Charcoal_Painting(Bride).jpg" alt="">
            <h3>The Evergreen</h3>
            <ul>
              <li>Sketching</li>
              <li>Water Colours</li>
              <li>Charcoal Painting</li>
              <li>Oil Painting</li>
              <li>Acrylic Painting</li>
              <li>Portrait Painting</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6" style="padding: 5px;">
        <div class="card">
          <div class="card-body">
            <img src="assets/painting&drawing/Fabric_Tanjore.jpg" alt="">
            <h3>The Ancient</h3>
            <ul>
              <li>One-Stroke Painting</li>
              <li>Fabric Painting</li>
              <li>Egyptian Painting</li>
              <li>Mosaic Art</li>
              <li>Marble Painting</li>
              <li>Chinese Brush Painting</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6" style="padding: 5px;">
        <div class="card">
          <div class="card-body">
            <img src="assets/painting&drawing/Clay_Sculpture.jpg" alt="">
            <h3>Miscellaneous</h3>
            <ul>
              <li>Glass/Mirror Painting</li>
              <li>Pastels</li>
              <li>Calligraphy</li>
              <li>Clay Modelling</li>
              <li>Sand Painting</li>
              <li>Mehendi</li>
              <li>Rangoli</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
