@import url('https://fonts.googleapis.com/css2?family=Lora&family=Merriweather:ital,wght@1,700&display=swap');

.card{
  height: 100%;
  background: transparent;
}

.container-fluid{
  padding: 1rem;
  background-color: #fffcd0;
}

.jumbotron{
  padding: 2rem;
  overflow: hidden;
  border-radius: 0.8rem;
  margin-bottom: 1.5rem;
  background: #ddf398;

  h2, p{
    font-family: 'Merriweather', serif;
  }


  .card{

    border-color: #d1a50c;
    .card-body{

      img{
        float: right;

        height: 200px;
        width: 150px;
      }
      ul{
        font-family: 'Lora', serif;
        font-size: 1rem;

        list-style-type: square;
      }

      h3{
        font-family: 'Lora', serif;
        font-size: 2rem;
      }

    }
  }
}

@media only screen and (max-width: 600px){
  .card{
    .card-body{
      img{
        float: none;
        margin: 5px;
        width: 100%;
        height: auto;
        margin: 5px auto;
      }
      ul{
        font-size: 1rem;

        list-style-type: square;
      }

      h3{
        font-size: 1.5rem;
      }

    }
  }

  .jumbotron{
    h2{
      font-size: 2rem;
    }

    p{
      font-size: 0.9rem;
    }
  }

}
