<div class="container-fluid">
  <div class="jumbotron" style="background-color: #fffbb9;">
    <h2>Tailoring and Embroidery</h2>
    <p>You can learn how to use the sewing machine by starting with the Basic Tailoring course and then you can choose
      any of the other courses of your interest. You can also go for Hand or Machine Embroidery where you will learn
      several techniques to make beautiful designs on your dresses! I also teach Mehndi to embrace your hands!!</p>
  </div>
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <ul>
          <li>Hand & Machine Embroidery</li>
          <li>Basic Tailoring</li>
          <li>Salwar Kameezes</li>
          <li>Designer Dresses</li>
          <li>Blouses</li>
          <li>Tops</li>
          <li>Skirts</li>
          <li>Frocks</li>
          <li>Skirts & Blouses</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6">
        <img src="assets/tailoring&embroidery/embroidary.jpg" alt="">
      </div>
    </div>

    <hr>
    <div class="row">
      <img class="my_image" src="assets\tailoring&embroidery\IMG_20161209_132437584.jpg" alt="">
      <img class="my_image" src="assets\tailoring&embroidery\IMG_20161217_105840155.jpg" alt="">
      <img class="my_image" src="assets\tailoring&embroidery\IMG_20170109_170525434.jpg" alt="">
      <img class="my_image" src="assets\tailoring&embroidery\IMG_20170127_113757745.jpg" alt="">
      <img class="my_image" src="assets\tailoring&embroidery\IMG_20170305_114033317_BURST000_COVER_TOP.jpg" alt="">
      <img class="my_image" src="assets\tailoring&embroidery\IMG_20180804_114920.jpg" alt="">
      <img class="my_image" src="assets\tailoring&embroidery\IMG_20180922_115328.jpg" alt="">
      <img class="my_image" src="assets\tailoring&embroidery\IMG_20181017_134056.jpg" alt="">
      <img class="my_image" src="assets\tailoring&embroidery\IMG_20181027_122638 (1).jpg" alt="">
      <img class="my_image" src="assets\tailoring&embroidery\IMG_20181115_183854.jpg" alt="">
      <img class="my_image" src="assets\tailoring&embroidery\IMG_20181211_105216.jpg" alt="">
      <img class="my_image" src="assets\tailoring&embroidery\IMG_20181211_183621.jpg" alt="">
      <img class="my_image" src="assets\tailoring&embroidery\WP_20151005_16_52_25_Pro.jpg" alt="">
      <img class="my_image" src="assets\tailoring&embroidery\WP_20151116_15_16_14_Pro.jpg" alt="">
      <img class="my_image" src="assets\tailoring&embroidery\WP_20151205_15_18_19_Pro.jpg" alt="">
      <img class="my_image" src="assets\tailoring&embroidery\WP_20151208_11_54_40_Pro.jpg" alt="">
      <img class="my_image" src="assets\tailoring&embroidery\WP_20161122_16_17_29_Pro.jpg" alt="">
    </div>
  </div>
</div>
