@import url('https://fonts.googleapis.com/css?family=Crimsone+Text|Raleway');

.container-fluid{
  padding: 1rem;
  background-color: #fffcd0;
}

.jumbotron{
  padding: 2rem;
  background-color: #ddf398;

  h2,h3,h4{
    font-family: 'Crimson Text', serif;
  }

  p{
    font-family: 'Raleway', sans-serif;
  }

  .call-icon{
    height: 1rem;
    width: 1rem;
  }

  .table-bordered{
    tr, td, th{
      border-color: black;
    }
    width: 400px;
  }

  .mapouter{
    padding-left: 5%;
  }

  .address{
    h4,p{
      padding-left: 5%;
    }
  }
}

@media only screen and (max-width: 600px){

  .jumbotron{
    padding: 1rem;

    .table-bordered{
      font-size: 80%;
      width: 100%;
    }

    .mapouter{
      padding-left: 0;
      text-align: center;
    }

    .address{
      h4,p{
        margin-left: 0;
      }
    }
  }

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}

