@import url('https://bootswatch.com/4/united/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

*{
  box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}
