<div class="jumbotron">
  <p class="blinking text-center">
    Online Classes for all courses are being conducted now, please contact us on
    <a href="tel:+91-8106532696">+91-8106532696</a> for further details
  </p>
  <p class="text-center text-white">
    Online Water Painting course from 17th Aug onwards, for more details click
    <a href="https://posts.gle/75pYJ">here</a>
  </p>
  <p class="text-center text-white">
    Online Acrylic Painting course from 20th Aug onwards, for more details click
    <a href="https://posts.gle/QCCuW">here</a>
  </p>
  <p class="text-center text-white">
    Online Charcoal Painting course from 17th Aug onwards, for more details
    click <a href="https://posts.gle/uv7es">here</a>
  </p>
</div>
