<div class="container-fluid">
  <app-updates></app-updates>
  <div class="jumbotron" style="background-color: #fffbb9; margin-bottom: 1.5rem;">
    <h1>Welcome to Kavi Art Studio!</h1>
    <img class="my_image" src="assets/Home_Me.jpg" alt="">
    <p>Hi! This is Kavitha. Congratulations! You have reached a versatile artist who is
      passionate about fine
      arts. I
      can help you learn the art that you are looking for using a very personalized approach.
      <br><br>
      I have more than 13 years of teaching experience on various types of art and across age groups. I started my
      career at Viman Nagar, Pune in 2004. I moved to Hyderabad in 2010, conducted classes in and around Jubilee
      Hills and presently I have my institute at OU Colony, Manikonda, just 1km off old Mumbai road.
      <br><br>
      Classes are held in a serene atmosphere in a pent house with A/C and open terrace area.
      <br><br>
      In specific cases, I am offering online classes also.
      <br><br>
      I also conduct Fashion Design (Embroidery & Tailoring) classes exclusively for Ladies.
    </p>
  </div>
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-12 col-md-7">
        <h2>My Latest Art Work</h2>
        <p>
          I have special interest in Sketching, Water colors, Charcoal, Knife Painting, Oil, Acrylic, Portraits,
          Tanjore,
          Madhubani, Nirmal Painting etc. On the right, you will find glimpses of my work and more paintings can be
          seen
          in the gallery.
        </p>
      </div>
      <div class="col-sm-12 col-md-5">
        <ngbd-carousel></ngbd-carousel>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <div class="jumbotron">
        <h3>Painting & Drawing</h3>
        <img class="portrait" src="assets/home_painting.JPG" alt="">
        <p>
          There are a variety of courses to offer... starting from basic sketching, oil/acrylic/water colors, and
          charcoal mediums to more advanced techniques like tanjore paintings, portraits and murals.
          <br><br>
          You can also learn traditional arts like Warli, Madhubani, and Kalamkari etc.
        </p>
        <a role="button" class="btn btn-primary" routerLink="/p_d">Details</a>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6">
      <div class="jumbotron">
        <h3>Tailoring & Embroidery</h3>
        <img class="portrait" src="assets/home_embroidery.jpg" alt="">
        <p>
          You can start from learning basic tailoring to stitching salwar suites, designer dresses, blouses etc.
          <br><br>
          Around 40 techniques (e.g. chain stitch, kashmiri, jardosi, mirrors etc.) will be taught as part of Hand as
          well as Machine embroidery.
        </p>
        <a role="button" class="btn btn-primary" routerLink="/t_e">Details</a>
      </div>
    </div>
  </div>
</div>